.container ul li{
    display: flex;
    align-items: center;
    height: 70px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding-left: 70px;
}

.container .correct{
    /* background:  #00ff00; */
    border-color: #00d397;

}

.container  .wrong{
    /* background:  #ff0000; */
    border-color: #ff4a4a;
}